/*!
 *
 * mime-type icons
 * by firejune(http://firejune.com)
 * icon image form http://www.splitbrain.org/projects/file_icons
 *
 */

.7z { background-image: url(mime/7z.png); }
.chm { background-image: url(mime/chm.png); }
.divx { background-image: url(mime/divx.png); }
.html { background-image: url(mime/html.png); }
.lua { background-image: url(mime/lua.png); }
.odi { background-image: url(mime/odi.png); }
.png { background-image: url(mime/png.png); }
.rpm { background-image: url(mime/rpm.png); }
.tar { background-image: url(mime/tar.png); }
.wmv { background-image: url(mime/wmv.png); }
.aiff { background-image: url(mime/aiff.png); }
.class { background-image: url(mime/class.png); }
.doc { background-image: url(mime/doc.png); }
.htm { background-image: url(mime/htm.png); }
.mm { background-image: url(mime/mm.png); }
.odp { background-image: url(mime/odp.png); }
.ppt { background-image: url(mime/ppt.png); }
.rtf { background-image: url(mime/rtf.png); }
.tex { background-image: url(mime/tex.png); }
.xls { background-image: url(mime/xls.png); }
.ai { background-image: url(mime/ai.png); }
.conf { background-image: url(mime/conf.png); }
.dot { background-image: url(mime/dot.png); }
.image { background-image: url(mime/image.png); }
.mov { background-image: url(mime/mov.png); }
.ods { background-image: url(mime/ods.png); }
.ps { background-image: url(mime/ps.png); }
.sig { background-image: url(mime/sig.png); }
.tgz { background-image: url(mime/tgz.png); }
.xml { background-image: url(mime/xml.png); }
.asc { background-image: url(mime/asc.png); }
.c { background-image: url(mime/c.png); }
.eml { background-image: url(mime/eml.png); }
.iso { background-image: url(mime/iso.png); }
.mp3 { background-image: url(mime/mp3.png); }
.odt { background-image: url(mime/odt.png); }
.py { background-image: url(mime/py.png); }
.sql { background-image: url(mime/sql.png); }
.txt { background-image: url(mime/txt.png); }
.xpi { background-image: url(mime/xpi.png); }
.audio { background-image: url(mime/audio.png); }
.cpp { background-image: url(mime/cpp.png); }
.enc { background-image: url(mime/enc.png); }
.jar { background-image: url(mime/jar.png); }
.mpg { background-image: url(mime/mpg.png); }
.ogg { background-image: url(mime/ogg.png); }
.ram { background-image: url(mime/ram.png); }
.swf { background-image: url(mime/swf.png); }
.vcf { background-image: url(mime/vcf.png); }
.xvid { background-image: url(mime/xvid.png); }
.bin { background-image: url(mime/bin.png); }
.cs { background-image: url(mime/cs.png); }
.file { background-image: url(mime/file.png); }
.java { background-image: url(mime/java.png); }
.m { background-image: url(mime/m.png); }
.pdf { background-image: url(mime/pdf.png); }
.rar { background-image: url(mime/rar.png); }
.sxc { background-image: url(mime/sxc.png); }
.video { background-image: url(mime/video.png); }
.zip { background-image: url(mime/zip.png); }
.bz2 { background-image: url(mime/bz2.png); }
.css { background-image: url(mime/css.png); }
.gif { background-image: url(mime/gif.png); }
.jpeg { background-image: url(mime/jpeg.png); }
.odc { background-image: url(mime/odc.png); }
.pgp { background-image: url(mime/pgp.png); }
.rb { background-image: url(mime/rb.png); }
.sxd { background-image: url(mime/sxd.png); }
.vsd { background-image: url(mime/vsd.png); }
.cfc { background-image: url(mime/cfc.png); }
.csv { background-image: url(mime/csv.png); }
.gz { background-image: url(mime/gz.png); }
.jpg { background-image: url(mime/jpg.png); }
.odf { background-image: url(mime/odf.png); }
.php { background-image: url(mime/php.png); }
.sxi { background-image: url(mime/sxi.png); }
.wav { background-image: url(mime/wav.png); }
.cfm { background-image: url(mime/cfm.png); }
.deb { background-image: url(mime/deb.png); }
.hlp { background-image: url(mime/hlp.png); }
.js { background-image: url(mime/js.png); }
.odg { background-image: url(mime/odg.png); }
.pl { background-image: url(mime/pl.png); }
.rm { background-image: url(mime/rm.png); }
.sxw { background-image: url(mime/sxw.png); }
.wma { background-image: url(mime/wma.png); }